:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
    --color-primary-light: #B5E3FF;
    --color-primary-normal: #03A9F4;
    --color-primary-dark: #0288D1;
    --color-accent-light: #CFD8DC;
    --color-accent-normal: #607D8B;
    --color-accent-dark: #455A64;
    --color-text-primary: rgb(51, 51, 51);
    --color-text-secondary: #757575;
    --color-divider: #BDBDBD;
    --standard-radius: 1rem;
}

@include-when-export url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@include-when-export url(https://fonts.googleapis.com/css?family=Assistant);

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew Light Italic'), local('OpenSansHebrew-LightItalic'),
        url('./proffesura/OpenSansHebrew-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Hebrew Extra';
    src: local('Open Sans Hebrew Extra Bold Italic'), local('OpenSansHebrewExtraBold-Italic'),
        url('./proffesura/OpenSansHebrewExtraBold-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew Italic'), local('OpenSansHebrew-Italic'),
        url('./proffesura/OpenSansHebrew-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew Bold'), local('OpenSansHebrew-Bold'),
        url('./proffesura/OpenSansHebrew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew Light'), local('OpenSansHebrew-Light'),
        url('./proffesura/OpenSansHebrew-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew Extra';
    src: local('Open Sans Hebrew Extra Bold'), local('OpenSansHebrew-ExtraBold'),
        url('./proffesura/OpenSansHebrew-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew Bold Italic'), local('OpenSansHebrew-BoldItalic'),
        url('./proffesura/OpenSansHebrew-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: local('Open Sans Hebrew'), local('OpenSansHebrew-Regular'),
        url('./proffesura/OpenSansHebrew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni DL AAA';
    src: local('Almoni DL AAA Black'), local('AlmoniDLAAA-Black'),
        url('./proffesura/AlmoniDLAAA-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni DL AAA';
    src: local('Almoni DL AAA Light'), local('AlmoniDLAAA-Light'),
        url('./proffesura/AlmoniDLAAA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni DL AAA';
    src: local('Almoni DL AAA'), local('AlmoniDLAAA'),
        url('./proffesura/AlmoniDLAAA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni Tzar AAA';
    src: local('Almoni Tzar AAA Light'), local('AlmoniTzarAAA-Light'),
        url('./proffesura/AlmoniTzarAAA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni Tzar AAA';
    src: local('Almoni Tzar AAA Bold'), local('AlmoniTzarAAA-Bold'),
        url('./proffesura/AlmoniTzarAAA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni Tzar AAA';
    src: local('Almoni Tzar AAA'), local('AlmoniTzarAAA'),
        url('./proffesura/AlmoniTzarAAA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni Tzar AAA';
    src: local('Almoni Tzar AAA Thin'), local('AlmoniTzarAAA-Thin'),
        url('./proffesura/AlmoniTzarAAA-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni Tzar AAA';
    src: local('Almoni Tzar AAA ExtraLight'), local('AlmoniTzarAAA-ExtraLight'),
        url('./proffesura/AlmoniTzarAAA-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Almoni DL AAA';
    src: local('Almoni DL AAA Bold'), local('AlmoniDLAAA-Bold'),
        url('./proffesura/AlmoniDLAAA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant-Regular'),
        url('./proffesura/Assistant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant-Light'),
        url('./proffesura/Assistant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant-SemiBold'),
        url('./proffesura/Assistant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant Bold'), local('Assistant-Bold'),
        url('./proffesura/Assistant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant-ExtraLight'),
        url('./proffesura/Assistant-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant-ExtraBold'),
        url('./proffesura/Assistant-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    font-family: "Assistant", "Open Sans Hebrew","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

#write{
    max-width: 860px;
  	margin: 0 auto;
  	padding: 20px 30px 40px 30px;
	padding-top: 20px;
    padding-bottom: 100px;
    direction: rtl;
    color: var(--color-text-primary);
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}
body > *:last-child {
    margin-bottom: 0 !important;
}
a {
    color: #4183C4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    padding-bottom: .3em;
    font-size: 3em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    font-family: 'Almoni DL AAA';
    font-weight: 900;
}
h2 {
    padding-bottom: .3em;
    font-size: 2em;
    line-height: 1.225;
    border-bottom: 1px solid var(--color-primary-light);
    font-family: 'Almoni Tzar AAA', 'Open Sans Hebrew';
    font-weight: 400;
}
h3 {
    font-size: 1.5em;
    line-height: 1.43;
    font-family: 'Open Sans Hebrew';
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}
#write h1 {
    background-color: var(--color-primary-light);
    border-radius: var(--standard-radius) var(--standard-radius) 0 0;
    font-size: 5.25em;
    margin-bottom: 0;
    padding-bottom: 0;
}
#write h2 {
    font-size: 2.25em;
    padding: 0rem;
    padding-right: 0.5rem;
    margin: 0.1rem;
    border-bottom: none;
    border-right: 0.5rem solid var(--color-accent-normal);
}
#write h1, #write h1 + h2 {
    border: none;
    background-color: var(--color-primary-light);
    margin: 0;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}
#write h1 + h2 {
    padding-bottom: 0.3rem;
}
#write h3 {
    font-size: 110%;
    font-size: 1.65em;
    font-weight: 800;
    font-size: 1.5em;
    margin: 0.5rem 0 0.5rem 0;
}
ol li p:first-of-type{
    font-weight: 800;
    font-size: 1.20em;
    margin: 0.5rem 0 0 0;
    font-family: 'Open Sans Hebrew';
}
ol li {
    list-style: none;
}
ol>li>p:first-of-type::before {
    content: counter(li);
    color: var(--color-primary-normal);
    display: inline-block; 
    width: 1em;
    margin-right: -1em;
    font-weight: 200;
}
ul li p, ul li{
    font-weight: 400;
    list-style-type: disc;
    margin: 0;
    font-size: 1rem;
    font-family: 'Assistant';
}
li
#write p, td{
    font-size: 110%;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}
body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
li p.first {
    display: inline-block;
}
ul,
ol {
    padding-right: 30px;
}
li {
    counter-increment: li
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-right: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-left: 0;
}
table {
    padding: 0;
    word-break: initial;
    border-collapse: separate;
    border-radius: var(--standard-radius);
    border: 1px none var(--color-divider);
}
table tr {
    border-top: 1px solid var(--color-divider);
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n+1) {
    background-color: #f8f8f8;
}
thead td, 
thead th {
    background-color: var(--color-accent-light);
}
table tr th {
    font-weight: 800;
    font-family: 'Assistant';
    font-size: 1.2rem;
    border: 1px solid var(--color-divider);
    text-align: right;
    margin: 0;
    padding: 0.5rem 1rem;
}
table tr td {
    border: 1px solid var(--color-divider);
    text-align: right;
    margin: 0;
    padding: 0.5rem 1rem;
}
thead>tr>th:first-child, 
thead>tr>td:first-child {
    border-top-right-radius: var(--standard-radius);
}
thead>tr>th:last-child, 
thead>tr>td:last-child {
    border-top-left-radius: var(--standard-radius);
}
tbody>tr:last-child>th:first-child, 
tbody>tr:last-child>td:first-child {
    border-bottom-right-radius: var(--standard-radius);
}
tbody>tr:last-child>th:last-child, 
tbody>tr:last-child>td:last-child {
    border-bottom-left-radius: var(--standard-radius);
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-right: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    direction: ltr
}

code {
    background-color: #f3f4f4;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-right: -1.3em;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}
@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {
	background-color: #f8f8f8;
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	right: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	right: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	right: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	right: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-right-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}
